{% extends "base.html" %}
{% block content %}
{% for article in articles_page.object_list %}
<article>
  <div class="article_title">
    <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
  </div>
  <div class="article_meta">
    {% if not hide_category_meta %}in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>,{% endif %}
    on {{ article.locale_date }},
    by {{ article.author }}
  </div>
  <div class="article_text">
    {{ article.summary }}
  </div>
</article>
{% endfor %}
{% endblock %}

{% block footer %}
{% include "modules/pagination.html" %}
{% endblock %}
